<h1>All About Us</h1>
<p>Dublin City Council's Coca-Cola dublinbikes scheme provides 100 public bike stations around the city with approximately 1500 bikes available for general public use. The network of stations extends from the Mater Hospital in the north to the Grand Canal in the south and from Heuston Station in the west to the 3Arena in the east. You can signup on dublinbikes.ie today.

<br>Pick Up, Drop Off - 7 Days a Week!
<br>Cyclists can collect a bike from any station and return it to any station on the network e.g. you could collect a bike from a station on Talbot Street and return it to a station at Stephens Green or vice versa. The Coca-Cola Zero dublinbikes scheme operates between 5am and 12.30am, 7 days a week.

<br>Annual Smartcard or Credit Card
<br>An automated card machine is located at each station where a smartcard can be used to take out a bike. Some of the card machines also accept credit cards for occasional users for short-term use of the bikes.

<br>Users who wish to sign up for a smartcard pay an annual subscription fee of just €20, while occasional Coca-Cola Zero dublinbikes users may prefer to pay a small charge (€5 for 3 days) for the use of the bikes. Once removed from any station, the bikes can be used for up to 30 minutes free of charge, with a relatively low charge per hour of rental thereafter (30-60mins = € 0.50, 60-120mins = €1, 120-180 mins = €2). The bikes cannot be taken out using cash.</p>