
<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" type="text/css" href="style.css" />
	<title>Contact Form</title>
</head>

<body>

    <script src="FormValidation.js"></script>
			
			<form action = "verify2.html" method = "GET" name="myForm"> 
	
	<table style="margin-bottom:15px;"> 
			<tr>
				<th colspan = "2" align ="center" height ="100"><h1 style="color:#66B3BA;font-weight:bold;">Booking Form</h1></th>
			</tr>
			
			<tr>
				<td colspan = "2" align ="center"><b>Welcome to Dublin Rent-A-Bike.</b><br/>If you have a specific request or would like some more information regarding our products and services<br> please fill out this form and we will get back to you as soon as possible.</td>
				
			</tr>
			
			<tr>
				<td width ="20%" height = "30">First Name</td>  
				<td><input id ="firstName" type = "text"><span id= "fn1"> Please enter first name. </span></td>
			
			</tr>
			
			<tr>
				<td width = "20%" height = "30">Last Name</td>
				<td><input id = "lastName" type ="text"><span id= "ln1"> Please enter last name. </span></td>
			</tr>
			
			<tr>
				<td width = "20%" height = "30">Phone No:</td>
				<td><input id ="phoneNo" type ="number" required/></td>
			</tr>
			
			<tr>
				<td width = "20%" height = "30">Email:</td>
				<td><input type="email" id="email" required/></td>
				
			
			</tr>
			
			<tr>
                    <td width = 20% height = "30">Rent From: </td>
                    <td><input type="date" ><td>
            </tr>
			
            <tr>
                   <td width = 20% height = "30">Until: </td>
                    <td><input type="date" ></td>
            </tr>
			
									
		
			
			<tr>
				<td width = "25" height = "150">Comments:</td>
				<td><textarea cols = "50" rows = "6" name = "comment">If you have any questions please type them here.</textarea>
				</td>
			</tr>
			
			<br/>
			<br/>
			<tr>
				<td colspan = "2" align = "center"><input type = "submit" value = "Booking"onclick="return validateForm()"></td>
			</tr>
			<tr>
				<td colspan = "2" align = "center"><button type="button" onclick="window.open('', '_self', ''); window.close();">Cancel Request</button>
			</tr>
			
			
					
	</table>
	</form> <br/><br/><br/><br/><br/><br/>
       	   
       
			
			
      </div>
   </div>
</body>
</html>

