
<h1><strong>Frequently Asked Questions</strong></h1>


<div id= "debit"><table><tr><td><strong>How will my account be debited?</strong>
    <br>Subscription for the 3 Day Ticket costs €5, which is debited from your account at the end of the subscription period. The Annual Card costs €20 and is taken from your credit card, or your bank account by direct debit. Please note that VISA Electron and Laser Maestro debit cards are not accepted.
    <br>On subscription, you also authorise the provider to request a €150 guarantee from your account. This amount will not be debited unless the bike is not returned after a period of 24 hours. 
    <br>Both subscriptions allow you to rent a bike as many times as you wish during the period covered by your subscription. However, if you exceed the first half hour which is free, the service charge is debited at the end of the subscription period (in the case of the 3 Day Ticket), or monthly (in the case of the Annual Card).</td></tr></table></div>
<div id ="locate"><h1>Locate Us</h1></div>
<div id= "guarantee"><table><tr><td><strong>When is the guarantee Debited?</strong>
    <br>The guarantee (€150) is only debited in the event of theft or failure to return the bike within 24 hours. <br>In the event of a problem, you can contact the Call Centre on 1850 777 070.</td></tr></table></div>
<div id= "afterthirty"><table><tr><td><strong>How do I pay for usage after the free half-hour?</strong><br>
    If you have selected an Annual Card, your account will be debited once a month for any service charged incurred. <br>
    If you opt for a 3 Day Ticket and you use Coca-Cola Zero dublinbikes for more than half an hour per journey, the charge is automatically debited from your credit card at the end of the subscription period.</td></tr></table></div>
<div id="map">
    <script>
     function initMap() {
     var mapDiv = document.getElementById('map');
     var map = new google.maps.Map(mapDiv, {
     center: {lat: 53.38001, lng: -6.3509963},
     zoom: 10
        });
      }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?callback=initMap"
        async defer></script>

		</div><br/>

