<h3>Bike Rentals in Dublin</h3>
<p>Renting a bike is one of the best activities to do in Dublin. <br>
Where better to rent your bike than at Dublin's best bike rental
and bike tour company.
At Rent-A-Bike Dublin we pride ourselves on how well equiped we are for cycle rentals.
We have bike rental options for all ages.
Based in the city centre, we are only a very short drive from Dublin Airport, making us the perfect location for something 
different to do while visiting Dublin. <br>
 
Dublin Rent-A-Bike - Fast becoming top of the list of things to do while visiting Dublin, 
Ireland. <br>
If you need anymore convincing to visit Dublin have a read of these <a href= "http://www.visitdublin.com/20-reasons-to-love-dublin"> Top 20 Reasons to LOVE Dublin </a> </p>