/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */



*{
    padding-bottom:  30px;
    margin: 0;
  
}

#map{
    
    width:33%;
    margin-top: 0px;
    padding-top: 65%;
    position: relative;
}
#locate{
    padding-top: 50px;
    padding-bottom:5px;
    height: 30px;
    width: 33%;
    float: inherit
}

#header{
    height: 355px;
    background-image: url(https://vfs-gce-eu-98-4.c9.io/vfs/3676558/9cafRp95dP16hQww/home/directory/bike_app/app/assets/stylesheets/Images/Cyclists.PNG?1472385429462);
}


#nav{
    width: 100%;
    height: 40px;
    background: #000;
    float: left;
    
}

#page_links a{
    line-height: 40px;
    color: #fff;
    padding: 0 20px 0 20px;
    text-decoration: none;
}

#login_links a{
   line-height: 40px;
    color: #fff;
    padding: 0 20px 0 20px;
    text-decoration: none;
}

#login_links{
    float: right;
    margin: 0 5% 0 0;
    
}

#page_links{
    margin: 0 0 0 5%;
    float: left;
}

#main_wrapper{
    width: 90%;
    float: left;
    margin: 20px 5% 0 5%;
   
}

#debit{
    width: 50%;
    float: left;
    margin: 1% 5% 0 5%;
}

#guarantee{
    width:50%;
    float:left;
    margin: 1% 5% 0 5%;
}
#afterthirty{
    width:50%;
    float:left;
    margin: 1% 5% 0 5%;
}
#subscription{
    width:50%;
    float:left;
    margin: 1% 5% 0 5%;
}